%h2 Log In
.content
  - form_tag login_url do
    %p
      = label_tag :login
      = text_field_tag 'login', @login
    %p
      = label_tag :password
      = password_field_tag 'password', nil
    %p
      = label_tag :remember_me, 'Remember me?', :class => 'for_checkbox'
      = check_box_tag 'remember_me', '1', @remember_me
    %p.submit= submit_tag 'Log in'
