#user_bar
  - if logged_in?
    Logged in as 
    = current_user.name
    = "(#{link_to "log out", logout_path, { :title => "Log out" }})"
  - else
    = link_to "Log in",  login_path,  { :title => "Log in" }
    &nbsp;|&nbsp;
    = link_to "Sign up", signup_path, { :title => "Create an account" }
