- @user.password = @user.password_confirmation = nil

%h2 Sign Up
= error_messages_for :user
.content
  - form_for :user, :url => users_path do |make|
    %p
      = make.label :login
      = make.text_field :login
    %p
      = make.label :email
      = make.text_field :email
    %p
      = make.label :password
      = make.password_field :password
    %p
      = make.label :password_confirmation, "Confirm Password"
      = make.password_field :password_confirmation
    %p
      = make.label :name
      = make.text_field :name
    %p.submit= submit_tag 'Sign up'
