%html
  %head
    %title Holler
    = stylesheet_link_tag 'reset', 'holler'
    = javascript_include_tag :defaults
  %body
    #header= render :partial => "users/user_bar"
    - flash.each do |key, message|
      .flash{:class => key.to_s}
        %strong== #{key.to_s.capitalize}:
        = message
    #content= yield
